body,html{
	margin: 0;
	padding:0;
	height: 100%;
	width: 100%;
	font-family: Nunito;
}


.topContainer{
	height: 100%;
	width: 100%;
	padding:0;
	}
.topJb{
	margin:0;
	padding:0;
	background: transparent linear-gradient(220deg, #FF000091 0%, #FF9900 100%) 0% 0% /*no-repeat*/ padding-box;
	height: 100%;
	width: 100%;
	border-radius:0;
}

.head-main{
	margin-left:40px; 
}

.head-main h1{
	font-size:100px;
	font-weight: 800;
	color:#FFFFFF;
	letter-spacing: 0;
}

.head-main button{
	  width: 208px;
	  height: 43px;
	  margin-top: 32px;
	  margin-left:8px;
	  text-align: center;
	  font: Light 32px/43px Nunito;
	  letter-spacing: 0;
	  color: #FF3B2D;
	  opacity: 1;
	  border-radius:46px ;
	  box-shadow: 0px 3px 6px #00000029;
	  border:0;
	  outline:none;
	}

.container-sub{
		margin-top: 40px;
		text-align: center;
		height: 100%;
}

.container-sub h2{
	color:#FF3B2D;
	font-size: 40px;
	font-weight: 800;
}

.container-sub p{
	text-align: left;
	color:#707070;
	font-size: 24px;
}

.float-left{
	margin-top:100px;
	width:50%;
}

.float-right{
	background:url('img/footer-.png');
	height: 100%;
	width:50%;
}