html,body{
	height: 100%;
}

.container{
	margin-top:74px;
}

.description{
	margin-top: 20px;
}

.card{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 1px 2px #00000029;
	border-radius: 16px;
	border: 0;
	overflow: hidden;
}

.card-title h4{
	font-size: 24px;
}

.card-text p{
	font-weight: 700;
	color: #000000;
	opacity: 60%;
}

::placeholder{
	color:black;
	opacity: 29%;
} 

.heading{
	text-align: left;
	margin:40px;
	font-size: 24px;
}

hr{
	width:30%;
}