<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Sign In</title> 
	<link rel="stylesheet" type="text/css" href="{%  static 'sign-in.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700,800&display=swap" rel="stylesheet">
</head>
<body>
	<dir class = SignIn-container>
        <h2>SIGN IN</h2>
        <div>
            <button  onclick="window.location.href='{% url 'register_company' %}'" class="btn bt1">Sign in as company</button>
        </div>
         <div>
            <button onclick="window.location.href='{% url 'register_employee' %}'"  class="btn">Sign in as jobseeker</button>
         </div>
                 
		</div>
		
	</dir>
</body>
</html>


